body {
	background-color: #05B;
	height: 100%;
	font-family: sans-serif;
	line-height: 1.3;
	color: #FFF;
	box-shadow: inset 0 0 20px rgba(0,0,0,1);
}

:root {
	--scale: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

button, select {
	font-size: 1rem;
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	border: 2px solid #CCC;
	box-sizing: border-box;
	transition: background-color 0.2s;
}

button:active, select:active {
	background-color: rgba(0,0,0,0.5);
	transition: none;
}



#menu {
	position: fixed;
	width: 100%;
	max-width: 400px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	box-sizing: border-box;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 10px;
}


#menu > .submenu {
	margin-top: 10px;
}

#menu .submenu_header {
	display: flex;
	align-items: center;
	height: 30px;
}

.submenu_header > h2 {
	flex-grow: 1;
}

.submenu_header > button {
	width: 30px;
	height: 30px;
	line-height: 26px;
	padding: 0;
}

.submenu_content {
    margin-top: 10px;
}

.submenu_content.closed {
	display: none !important;
}



#instrument_cluster {
	position: relative;
	margin: auto;
	z-index: 10;
	box-sizing: border-box;
	text-align: center;
	padding-top: 50%;
}

#instrument_cluster #gauge_containers_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

#instrument_cluster .gauge_container {
	position: relative;
	width: 100%;
	height: 100%;
	justify-items: center;
}

#instrument_cluster .gauge {
	position: absolute;
	display: inline-block;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	border: 2px solid #888;
	border-radius: 50%;
	background-color: #FFF;
	box-sizing: border-box;
}

#instrument_cluster .gauge > .center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 80%;
	background-color: #FFF;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 10;
}
#instrument_cluster .gauge::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 22%;
	height: 22%;
	background-color: #888;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 30;
}

#instrument_cluster .gauge > .needle, #instrument_cluster .gauge > .indicator {
	position: absolute;
	left: 50%;
	transform-origin: 50% 100%;
	transform: rotate(-120deg);
	height: 50%;
	width: 2px;
}

#instrument_cluster .gauge > .current_needle {
	background-color: #F00;
	z-index: 20;
}

#instrument_cluster .gauge > .indicator {
	background-color: #888;
}

#instrument_cluster .gauge > .needle > span, #instrument_cluster .gauge > .indicator > span {
	line-height: 1rem;
	transform: translate(-50%, -50%);
	display: block;
	width: 10vmin;
	height: 10vmin;
	width: 50px;
	height: 50px;
	text-align: center;
}

#instrument_cluster .gauge > .needle > span {
	height: 100px;
}

#instrument_cluster #gear_indicator {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	line-height: 40px;
	background-color: #FFF;
	color: #555;
	border-radius: 50%;
	border: 2px solid #888;
	width: 40px;
	height: 40px
}



#info_submenu > #additional_info_container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0 1ch;
}



#resistances_submenu > .submenu_content {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0 1ch;
	justify-items: left;
}

#resistances_submenu > .submenu_content > input[type="range"] {
	width: 90%;
}




#selects_container {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: left;
	grid-gap: 10px 1ch;
	align-items: center;
}

#selects_container select {
	width: 100%;
	height: 30px;
}

#car_controls {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0 10px;
}

#shift_button_container {
	display: flex;
	flex-direction: column;
}

#shift_button_container > button {
	flex-grow: 1;
}

#shift_button_container > button + button {
	margin-top: 10px;
}

#pedals_container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
}

#pedals_container > .input_set {
	text-align: center;
}

#pedals_container [orient="vertical"] {
	-webkit-appearance: slider-vertical;
	height: 150px;
	width: 25px;
}





#container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	box-sizing: border-box;
	transform: rotate(0deg);
}

#car {
	position: fixed;
	bottom: calc(30vh + 0.25vw * var(--scale));
	left: 20vw;
	width: calc(4.5vw * var(--scale));
	height: calc(1.5vw * var(--scale));
	z-index: 10;
}

#car > .relative_thing {
	position: relative;
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 0 0.75vw rgba(0,0,0,0.5));
}

#car .chassis {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #9F9;
	background-color: #FF0;
	width: 100%;
	height: 100%;
	clip-path: polygon(56% 0, 74% 33%, 100% 36%, 100% 100%, 0 100%, 0 33%, 14% 33%, 25% 0);
}

#car .tyre {
	position: absolute;
	bottom: calc(-0.25vw * var(--scale));
	width: calc(0.7vw * var(--scale));
	height: calc(0.7vw * var(--scale));
	background-color: #DEE;
	border: calc(0.3vw * var(--scale) / 2) solid #000;
	box-sizing: border-box;
	border-radius: 50%;
}
#car .tyre:nth-child(2) {
	left: calc(0.5vw * var(--scale));
}
#car .tyre:nth-child(3) {
	left: calc(4.5vw * var(--scale) - 1.2vw * var(--scale));
}



#street {
	position: fixed;
	top: 70vh;
	left: 0;
	height: 30vh;
	z-index: 20;
	display: grid;
	grid-template-columns: repeat(11, calc(10vw * var(--scale)));
}

#street > .street_part {
    position: relative;
	height: 100%;
	background-color: #567;
}

#street > .street_part::before {
	content: "";
    position: absolute;
    top: calc(0.5vw * var(--scale));
    left: 0;
    height: calc(0.3vw * var(--scale));
    width: 50%;
    background-color: #FFF;
}

#street_shadow {
	position: fixed;
	top: 70vh;
	left: 0;
	height: 30vh;
	width: 100%;
	box-shadow: 0 0 3vw rgba(0,0,0,0.5);
}
